* {
    background-color: aliceblue;
	font-family: 'Montserrat', sans-serif;
}
.box {
    background: #320152;
    display: grid;
	place-items: center;
    margin: 100px 250px 0 ;
}
#clock {
	font-size: 80px;
	background: rgb(28, 25, 37);
    color:rgb(248, 241, 228) ;
    padding: 30px;
    border-radius: 10px;
}